$icon-font-path: "../fonts/";

$font-size-base: 16px;
$line-height-base: 1.618034;

@import "bower_components/bootswatch/yeti/_variables.scss";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "bower_components/bootswatch/yeti/_bootswatch.scss";

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.main-menu {
  text-transform: uppercase;
  margin-bottom: 1.618034em;

  a.btn-warning:hover, a.btn-warning:focus {
    background: lighten($btn-warning-bg, 5%);
    color: black;
  }
}

footer.well {
  margin-bottom: 0;
}

aside {
  margin-left: 2em;
  float: right;
  width: 17em;
  font-size: 80%;
}

a[href^="http://"]:after, a[href^="https://"]:after {
  font-family: "Glyphicons Halflings";
  content: "\e164"; // .glyphicon-new-window
  padding-left:5px;
}
